
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap');

  body {
    margin: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    font-family: 'IBM Plex Sans', sans-serif;

    background: linear-gradient(277deg, #ffffff, #80c8e1, #21b472);
    background-size: 600% 600%;
    
    -webkit-animation: AnimationName 13s ease infinite;
    -moz-animation: AnimationName 13s ease infinite;
    -o-animation: AnimationName 13s ease infinite;
    animation: AnimationName 13s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 24%}
    50%{background-position:100% 77%}
    100%{background-position:0% 24%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 24%}
    50%{background-position:100% 77%}
    100%{background-position:0% 24%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 24%}
    50%{background-position:100% 77%}
    100%{background-position:0% 24%}
}
@keyframes AnimationName {
    0%{background-position:0% 24%}
    50%{background-position:100% 77%}
    100%{background-position:0% 24%}
}
  




@media (max-width: 600px) {
  .slide-inside{
    background-color: white;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    width: 95%;
    height: 500px;
  }  
}

@media(min-width: 600px){
  .slide-inside{
    background-color: white;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    width: 95%;
    height: 600px;
  }  
}

h1{
  font-size: 50px;
}

.slide-inside a{
  text-decoration: none;
  color: black;
}

