@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Spectral:ital,wght@0,400;0,600;0,700;0,800;1,300;1,600;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");

*{
  outline: none;
}


body {
  margin: 20px;
  height: 100%;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: stretch; */

  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;


  font-family: 'IBM Plex Sans', sans-serif;


  background: linear-gradient(277deg, #ffffff, #80c8e1, #21b472);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 13s ease infinite;
  -moz-animation: AnimationName 13s ease infinite;
  -o-animation: AnimationName 13s ease infinite;
  animation: AnimationName 13s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 24%;
  }

  50% {
    background-position: 100% 77%;
  }

  100% {
    background-position: 0% 24%;
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 24%;
  }

  50% {
    background-position: 100% 77%;
  }

  100% {
    background-position: 0% 24%;
  }
}

@-o-keyframes AnimationName {
  0% {
    background-position: 0% 24%;
  }

  50% {
    background-position: 100% 77%;
  }

  100% {
    background-position: 0% 24%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 24%;
  }

  50% {
    background-position: 100% 77%;
  }

  100% {
    background-position: 0% 24%;
  }
}


@media (max-width: 600px) {
  .slide-inside {
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    width: 100%;
  }
}

@media (min-width: 600px) {
  .slide-inside {
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 600px;
    margin: auto;
  }
}

/* ------------------------> LANDING PAGE */

h1 {
  display: flex;

  font-size: 80px;
  font-family: "Philosopher", sans-serif;
  /* -webkit-text-stroke: white 1px; */
  font-weight: 600;
  /* opacity: 0.3; */
  color: rgb(255, 255, 255, .6);
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

#landing {
  padding-top: 150px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@media (min-width: 745px) {
  h1 {
    font-size: 100px;
  }

  #landing {
    padding-top: 250px;
  }
}

/* ------------------------> text animation FADE IN*/

/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  animation-duration: 3s;
}



.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}


.fade-in.one-point-five {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}


.fade-in.two {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s;
}

.fade-in.three {
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  animation-delay: 5s;
}

.fade-in.l1 {
  -webkit-animation-delay: 5.5s;
  -moz-animation-delay: 5.5s;
  animation-delay: 5.5s;
}

.fade-in.l2 {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  animation-delay: 6s;
}

.fade-in.l3 {
  -webkit-animation-delay: 6.5s;
  -moz-animation-delay: 6.5s;
  animation-delay: 6.5s;
}

.fade-in.l4 {
  -webkit-animation-delay: 7s;
  -moz-animation-delay: 7s;
  animation-delay: 7s;
}

.fade-in.l5 {
  -webkit-animation-delay: 7.5s;
  -moz-animation-delay: 7.5s;
  animation-delay: 7.5s;
}

.fade-in.l6 {
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  animation-delay: 8s;
}




/* ------------------------> DESCRIPTION PAGE */
#second-Landing {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: center;
  align-content: center;

  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  color: rgb(211, 0, 0, .6);
  /* opacity: 40%; */
}

/* #landing-text{
  color:red;
  opacity: 40%;
} */

/* when it's at least 560 do this: */
@media (min-width: 745px) {
  #second-Landing {
    /* padding-top: 100px; */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;

    text-decoration: none;
    color: rgb(211, 0, 0, .6);
    /* opacity: 40%; */
    font-size: 100px;
    font-weight: 600;
    max-width: 1000px;

    /* max-width: 700px; */
  }
}

/* ------------------------> ABOUT PAGE */

.about {
  padding-top: 80px;
  padding-bottom: 20px;
}

#about-links {
  padding: 0px;
  margin: 0px;
  font-size: 35px;
}

.about-page {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: left;
  align-content: center;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  color: rgb(211, 0, 0, .6)
  /* opacity: 40%; */
}

ul {
  list-style-type: none;
  padding: 0px;
  font-size: 20px;
}

li {
  margin-bottom: 3px;
  padding: 0px;
  font-size: 25px;
}

/* ---------------------- FIX ON HOVER */
/* ---------------------- DROP DOWN RESOURCES */
.resources-disclaimer {
  display: none;
}

span.further-reources:hover .resources-disclaimer {
  display: block;
}

@media (min-width: 745px) {
  .about-page {
    padding-left: 70px;
    max-width: 500px;
  }
}





/* -------------------------------> Auth pages (Choice, Sigup, login)  */


.slide-inside a {
  text-decoration: none;
  color: white;
}

.button-white {
  margin: 20px 10px 10px 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  color: white;
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  transition: background 0.5s ease-in-out;

}

/* Button on small screen
@media (max-width: 600px) {
  .button-white {
    margin: 20px 10px 10px 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
    color: white;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    transition: background 0.5s ease-in-out;
  }
} */

.button-white:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.button-black {
  margin: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid white;
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  transition: background 0.5s ease-in-out;
}

#background {}

.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #afeeee;
}



/*  ---------------> this might need fixing*/
a:hover {
  color: #add8e6;
}

.button-black:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.input-auth {
  background-color: transparent;
  padding: 5px 5px 2px 0px;
  margin: 10px;
  border: none;
  border-bottom: 1px solid white;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  font-size: 18px;
}

input:focus{
  color: #008B8B;
  font-size: 18px;
}

input, select{
  color: #008B8B;
}

::placeholder {

  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
}

.p-auth {
  font-size: 15px;
}

.error-message {
  color:#008B8B;
  font-size: 13px;
}


.auth-choice h3 {
  display: flex;
  font-size: 40px;
  font-family: 'Philosopher', sans-serif;
  /* -webkit-text-stroke: white 1px; */
  font-weight: 600;
  opacity: 0.7;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0px
}


/* -------------------------------> RITUAL CHOICE PAGE  */
.choice-table{
  border: 1px solid white;
  padding-bottom: 20px;
  width: 350px;
  align-items: center;

}

.choice-bar{

  display: flex;
  height: 60px;
  border-bottom: 1px  solid white;
  /* background-color: rgba(255, 255, 255, 0.1); */
  align-items: center;   
  text-align: center;
  padding: 0px;
  margin-bottom: 20px
  

}

.check-buttons input:checked+p {
  direction: flex;
  background-color: rgba(255, 255, 255, 0.4);
  color: rgb(255, 255, 255), 1;
  /* opacity: 0.5; */
  align-content: center;

  text-align: center;
  text-align: center;
  display: flex;
  align-content: center;
  /* font-size: 20px; */
  width: 350px;
  height: 70px;
  /* margin: 10px; */
  border: 1px solid rgb(255, 255, 255);
  /* border-top:0; */

}


.check-buttons input:hover+p {
  direction: flex;
  /* background-color: rgba(255, 255, 255, 0.2); */
  color: rgb(0, 0, 0), 1;
  /* opacity: 0.5; */
  align-content: center;

  text-align: center;
  text-align: center;
  direction: flex;
  align-content: center;
 
  width: 350px;
  height: 70px;
  /* margin: 10px; */
  border: 1px solid rgb(255, 255, 255);
  /* border-top:0; */
  transition: background 0.5s ease-in-out;


}


@media (min-width: 600px) {
  .choice-table{
    border: 1px solid white;
    padding-bottom: 20px;
    width: 450px;
    align-items: center;
  }

  .choice-bar{
    display: flex;
    border-bottom: 1px  solid white;
    align-items: center;   
    text-align: center;
  
  }

  .check-buttons input:checked+p {
    direction: flex;
    background-color: rgba(255, 255, 255, 0.4);
    color: rgb(255, 255, 255), 1;
    /* opacity: 0.5; */
    align-content: center;
  
    text-align: center;
    text-align: center;
    display: flex;
    align-content: center;
    /* font-size: 20px; */
    width: 450px;
    height: 70px;
    /* margin: 10px; */
    border: 1px solid rgb(255, 255, 255);
    border-top:0;
  
  }


  .check-buttons input:hover+p {
    direction: flex;
    /* background-color: rgba(255, 255, 255, 0.2); */
    color: rgb(0, 0, 0), 1;
    /* opacity: 0.5; */
    align-content: center;
  
    text-align: center;
    text-align: center;
    direction: flex;
    align-content: center;
   
    width: 450px;
    height: 70px;
    /* margin: 10px; */
    border: 1px solid rgb(255, 255, 255);
    /* border-top:0; */
    transition: background 0.5s ease-in-out;
  
  
  }

 

}

.ritual-choice-text{
  color: rgb(211, 0, 0, .6);
  text-align: center;
  font-size: 40px;
  font-weight: 600
  
}

.ritual-choice-subtext{
  color: rgb(211, 0, 0, .6);
  font-size: 20px;
  padding: 0;
  margin: 0;
  text-align: center;
}


.ritual-in-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 70px;
  margin: 0px;
  color:white;
  font-size: 25px;
  font-weight: 400;
}


.ritual-choice-rendering {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.center-checkbox {
  display: flex;
  text-align: center;
  align-content: center;
  align-items: center;
}

.check-buttons label {

  border-radius: 30px;

}

.check-buttons label input {
  position: absolute;
  top: -20px;
  border-radius: 30px;

}



.deepwork-button{
  width: 300px;
  height: 70px;
  margin: 10px;
  color:white;
  border: none;
 font-size: 25px;
  outline: none;
  background-color: rgb(255, 255, 255, 0.0);
  font-family: 'IBM Plex Sans', sans-serif;
}




.deepwork-button:hover{
/* border: 1px solid; */
color: rgb(211, 0, 0, .6);


}

/* -------------------------> MDITATION RITUAL */

.auth-choice p {
  color: white;
}

.auth-choice {
  padding-top: 150px;
}


.signup h3 {
  display: flex;


  font-size: 40px;
  font-family: 'Philosopher', sans-serif;
  /* -webkit-text-stroke: white 1px; */
  font-weight: 600;
  opacity: 0.7;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding-bottom: 50px;
}

.signup {
  color: white;
}


#spotify-button-text {
  -webkit-animation: color-change 13s ease infinite;
  -moz-animation: color-change 13s ease infinite;
  -o-animation: color-change 13s ease infinite;
  -ms-animation: color-change 13s ease infinite;
  animation: color-change 13s ease infinite;
}

@-webkit-keyframes color-change {
  0% {
    color: #ffffff;
  }

  50% {
    color: #80c8e1;
  }

  100% {
    color: #21b472;
  }
}

@-moz-keyframes color-change {
  0% {
    color: #ffffff;
  }

  50% {
    color: #80c8e1;
  }

  100% {
    color: #21b472;
  }
}

@-ms-keyframes color-change {
  0% {
    color: #ffffff;
  }

  50% {
    color: #80c8e1;
  }

  100% {
    color: #21b472;
  }
}

@-o-keyframes color-change {
  0% {
    color: #ffffff;
  }

  50% {
    color: #80c8e1;
  }

  100% {
    color: #21b472;
  }
}

@keyframes color-change {
  0% {
    color: #ffffff;
  }

  50% {
    color: #80c8e1;
  }

  100% {
    color: #21b472;
  }
}

/* -------------------------------> Embodiment  */

@media(max-width: 600px) {
  h1 {
    font-size: 50px;
  }

  hr {
    width: 75%;
    border: 0;
    border-top: white solid 0, 5px;
    border-bottom: white solid 0.1px;
    opacity: 0.5;
  }


  .embodiment-div {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    margin-top: 30px;
    color: #008B8B;
    height: 300px;
    margin-bottom: 30px;
  }

  .embodiment-div p {
    /* text-align: justify; */
    padding: 0px 15px 10px 15px;
    line-height: 2;
    font-size: 20px;
    color: #008B8B;
  }

  .embodiment h2 {
    font-size: 20px;
    color: #008B8B;
  }

  .embodiment button {
    padding: 20px 5px;

  }

  .start-timing {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  #timer {
    font-family: 'Philosopher', sans-serif;
    font-size: 70px;
    color: #008B8B;
    padding: 50px 10px;
    margin: 60px 20px 40px 20px;
  }

  .embodiment h3 {
    color: white;
    font-size: 40px;
    padding: 40px;
  }
}

@media(min-width: 600px) {

  /* h1{
    font-size: 50px;
  } */
  hr {
    width: 75%;
    border: 0;
    border-top: white solid 0, 5px;
    border-bottom: white solid 0.1px;
    opacity: 0.5;
  }


  .embodiment-div {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 30px;
    /* margin-top: 30px; */
    width: 600px;
    margin: auto;
    margin-top: 50px;
    color: #008B8B;
    height: 250px;
    margin-bottom: 20px;
  }

  .embodiment-div p {
    /* text-align: justify; */
    padding: 10px 15px 10px 15px;
    line-height: 3;
    color: #008B8B;
    font-size: 20px;
    padding-bottom: 30px;
  }

  .embodiment h2 {
    font-size: 30px;
    color: #008B8B;

  }

  .embodiment button {
    padding: 20px 5px;
  }

  .start-timing {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  #timer {
    font-family: 'Philosopher', sans-serif;
    font-size: 90px;
    color: #008B8B;
    padding: 60px 10px;
    margin: 50px 20px 10px 20px;
  }

  .embodiment h3 {
    color: white;
    font-size: 40px;
    padding: 40px;

  }

}

/* -------------------------------> Journal  */

@media(max-width: 600px) {


  /* Entry TITLE */
  .entry-div{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 250px;
  }

  #edit-icons{
    display: flex;
    width: 50px;
    justify-content: space-between;
  }

  .editEntry-input{
    margin: auto;
    outline: none;
    border: none;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #008B8B;
    background-color: transparent;
    caret-color: white;
    font-size: 18px; 
    height: 150px;
    padding: 10px;
    margin-top: 10px;
    width: 250px;
  }
  ::placeholder{
    color: #008B8B;
  }
  

  .enterEntry-input{
    margin: auto;
    outline: none;
    border: none;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #008B8B;
    background-color: rgba(255, 255, 255, 0.4);
    caret-color: white;
    font-size: 18px; 
    height: 150px;
    padding: 10px;
    margin-top: 10px;
    width: 250px;
  }

    /* Whole Entry DIV */
  .journalEntry-div{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    color: #008B8B;
    font-size: 18px;
    /* height: 300px; */
    margin-bottom: 30px;
    width: 270px;
    word-wrap: break-word;
  }

  .journalEntry-button {
    margin: 20px 10px 10px 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
    color: white;
    width: 30%;
    box-sizing: border-box;
    font-size: 15px;
    transition: background 0.5s ease-in-out;
    align-self: center;
  }

  .journalEntry-button:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }

  .entry-div h5{
    font-weight: bold;
  }

  .journalEntry-div p{
    text-align: left;
    padding-left: 15px;  
    width: 250px;
  }

  .prompts{
    color: white;
    margin-left: 10px;
  }
  .journal-button-div{
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #empty-entry-div{
    background-color: transparent;
  }
  #show-entry-button{
    width: 90%;
  }
}

@media(min-width: 600px) { 

    /* Entry TITLE */
  .entry-div{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    /* padding-bottom: 0px; */
  }

  #edit-icons{
    display: flex;
    width: 50px;
    justify-content: space-between;
  }

  .editEntry-input{
    margin: auto;
    outline: none;
    border: none;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #008B8B;
    background-color: transparent;
    caret-color: white;
    font-size: 18px; 
    height: 150px;
    padding: 10px;
    margin-top: 10px;
    width: 400px;
  }
  ::placeholder{
    color: #008B8B;
  }
  
  .enterEntry-input{
    margin: auto;
    outline: none;
    border: none;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #008B8B;
    background-color: rgba(255, 255, 255, 0.4);
    caret-color: white;
    font-size: 18px; 
    height: 150px;
    padding: 10px;
    margin-top: 10px;
    width: 400px;
  }

    /* Whole DIV */
  .journalEntry-div{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px 30px;
    margin: auto;
    margin-top: 30px;
    color: #008B8B;
    font-size: 18px;
    /* height: 300px; */
    margin-bottom: 30px;
    width: 400px;
  }

  .journalEntry-button {
    margin: 20px 10px 10px 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
    color: white;
    width: 30%;
    box-sizing: border-box;
    font-size: 15px;
    transition: background 0.5s ease-in-out;
    align-self: center;
  }

  .entry-div h5{
    font-weight: bold;
  }

  .journalEntry-div p{
    text-align: left;
    padding-left: 15px; 
    padding-top: 0px;
    margin-top: 0px; 
  }

  .prompts{
    color: white;
    margin-left: 10px;
  }
  .journal-button-div{
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #show-entry-button{
    width: 90%;
  }
  #empty-entry-div{
    background-color: transparent;
  }
}  

/* ------------------------> SOUNDSCAPE */


.search-input {
  /* display: flex;
  align-items: flex-start; */
  background-color: transparent;
  /* padding: 10px; */
  margin: 10px;
  border: none;
  border-bottom: 1px solid white;
  width: 300px;
  /* box-sizing: border-box; */
  outline: none;
}



.deep-listening{
  border: 1px solid white;
  padding: 0px;
  width: 450px;
}

.deep-listening-bar{
  height: 40px;
  /* width: 100%; */
  border-bottom: 1px  solid white;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: rgb(211, 0, 0, .6);
}

.deep-listening-text{
  padding: 20px;
  font-size: 20px;
  color:white;
  font-weight: 600;

}

.r-sound-component{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


@media (max-width: 600px) {
  .deep-listening{
    border: 1px solid white;
    padding-bottom: 20px;
    width: 350px;
  }

  .deep-listening-bar{
    font-size: 25px;
    height: 50px;
    border-bottom: 1px  solid white;
    background-color: rgba(255, 255, 255, 0.4)    
  
  }


.deep-listening-text{
  padding: 20px;
  font-size: 20px;
}

  
}


/* ----------------------------------> MEDITATION COMPONENT */

.meditation{
  border: 1px solid white;
  padding-bottom: 20px;
  width: 350px;
}

.bar{
  height: 30px;
  /* width: 100%; */
  border-bottom: 1px  solid white;
  background-color: rgba(255, 255, 255, 0.4)    

}


@media (min-width: 600px) {
  .meditation{
    border: 1px solid white;
    padding-bottom: 20px;
    width: 600px;
  }

  .bar{
    /* height: 110px; */
    /* width: 100%; */
    border-bottom: 1px  solid white;
    background-color: rgba(255, 255, 255, 0.4)    
  
  }

  
}




/* ----------------------------------> DEEP WORK COMPONENT */


.dw-description{
  border: 1px solid white;
  /* padding-bottom: 10px; */
  width: 350px;
  
}

.dw-description-bar{
  height: 30px;
  /* width: 100%; */
  border-bottom: 1px  solid white;
  background-color: rgba(255, 255, 255, 0.4)    

}

.dw-description-text{
  padding: 20px;
  font-size: 20px;
}


@media (min-width: 600px) {
  .dw-description{
    border: 1px solid white;
    padding-bottom: 20px;
    width: 600px;
  }

  .dw-description-bar{
    /* height: 110px; */
    /* width: 100%; */
    border-bottom: 1px  solid white;
    background-color: rgba(255, 255, 255, 0.4)    
  
  }

  
}


